:root {
  --nest-light: 255, 249, 236;
  --nest-red: 242, 118, 87;
  --nest-blue: 0, 110, 116;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "filson-soft", sans-serif;
  padding: 0;
  margin: 0;
  color: #333;
  background-color: rgb(var(--nest-light));
}

h1 {
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(var(--nest-red));
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: clamp(2rem, 10vw, 5rem);
  text-transform: uppercase;
  color: rgb(var(--nest-blue));
  margin: 0;
}

h3 {
  font-weight: 500;
  font-size: 1em;
  text-transform: uppercase;
  color: rgb(var(--nest-blue));
  margin: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  max-width: 575px;
  margin-bottom: 1Dem;
}

a {
  color: rgb(var(--nest-blue));
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  background-image: url('./nest_swoop.svg');
  background-position: bottom right;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 2em;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: clamp(3rem, 5vw, 10rem);
}

.logo__svg {
  height: 20vw;
  width: auto;
}

@media (min-width: 760px) {
  .logo__svg {
    height: 15vw;
    max-height: 150px;
  }
}

.content {
  max-width: 800px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  padding: .5em 2em;
  margin: 1em 0;
  font-size: 1em;
  background-color: rgb(var(--nest-red));
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 1.2em;
}

.social {
  display: flex;
  align-items: center;
  color: rgb(var(--nest-blue));
}

.social__list {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
  grid-gap: .25em;
}

.social__list::before {
  content: '';
  display: block;
  width: 5em;
  height: 2px;
  margin: 0 1em;
  background-color: currentColor;
  border-radius: 1em;
}

.social__link {
  padding: .25em;
  color: inherit;
}

.social__link svg {
  height: 1.25em;
  width: auto;
  fill: currentColor;
}

.membership {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
}

.membership__form-group {
  display: flex;
  align-items: center;
}

.membership__label {
  font-size: 1em;
  color: rgb(var(--nest-blue));
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.membership__select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgb(255, 249, 236)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right .75em center;
  background-size: .875em;
  font-size: 1em;
  border: 0;
  border-right: 2px solid rgb(var(--nest-light));
  border-radius: 1.2em 0 0 1.2em;
  background-color: rgb(var(--nest-red));
  color: rgb(var(--nest-light));
  padding: .5em 2em .5em 2em;
  font-family: "filson-soft", sans-serif;
  font-weight: 500;
}

.membership__link {
  padding: calc(.5em + 1px) .75em calc(.5em + 1px) 1em;
  margin: 0;
  font-size: 1em;
  background-color: rgb(var(--nest-red));
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 0 1.2em 1.2em 0;
  display: flex;
  align-items: center;
}

.membership__link svg {
  fill: rgb(var(--nest-light));
  height: 1em;
  width: 1em;
}